@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* background-color: rgb(56, 54, 54); */
  color: white;
}

#tasklist::-webkit-scrollbar{
  display: none;

}

#alltask::-webkit-scrollbar{
  display: none;

}


#alltask2::-webkit-scrollbar{
  display: none;

}